@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  background-color: #ffffff;
  font-size: 18px;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body,
html {
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.heading-text {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1.6px;
  font-weight: bold;
}

.text-block {
  max-width: 600px;
}

.example-component {
  background-color: cyan;
}

.duration-300 {
  transition-duration: 300ms;
}
@keyframes parallaxSlide {
  0% {
    background-position: center 0;
  }
  50% {
    background-position: center 100%;
  }
  100% {
    background-position: center 0;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-delay-500 {
  animation-delay: 0.5s;
}

.hover-translate-x-2:hover {
  transform: translateX(0.5rem);
}

.transition-transform {
  transition-property: transform;
}

.duration-300 {
  transition-duration: 300ms;
}

@layer utilities {
  .bg-grey-pattern-background {
    background-image: url("assets/PatternBackground-Test.png");
  }
  .bg-ally-background {
    background-image: url("assets/allyBackground.png");
  }
}

.path {
  stroke-dasharray: 5;
  stroke-dashoffset: 1000;
  animation: dash 40s linear reverse infinite;
}

.svg_icons {
  transform: scale(1.2);
}

/*Arrows and little dots on about AND credit page!*/
.slick-prev {
  left: 2% !important;
  z-index: 1;
  color: #ffffff;
  scale: 1.5;
}
.slick-next {
  right: 2% !important;
  z-index: 1;
  color: #ffffff;
  scale: 1.5;
}
.slick-dots {
  color: #ffffff;
  display: flex;
  justify-content: center;
  scale: 1.2;
}
/*about page stuffs*/
.aboutPageContainer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  background-color: transparent;
}
.teamHeader {
  margin-top: 1rem;
  margin-bottom: 2px;
  color: #002866;
  font-size: 42px;
}
.teamSlide .slick-slide {
  margin-right: 0px;
}
.teamMemImgCont {
  position: relative;
  width: 300px;
  height: 400px;
  margin-bottom: 0;
}
.teamMemImg {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  object-fit: cover;
  overflow: hidden;
}
.infoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Overlay color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0; /* Hide by default */
  transition: opacity 0.5s ease;
}
.teamMemImgCont:hover .infoOverlay {
  opacity: 1;
}
.slick-slide {
  height: 100%;
  margin: 0;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

/*tab animation about page*/
@keyframes swipe-right {
  from {
    left: 0;
    width: 0%;
  }
  to {
    left: 0;
    width: 100%;
  }
}
.tab-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: currentColor;
  width: 0;
  animation: swipe-right 0.3s forwards; /*play that animation!!!!*/
}
